@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model IEnumerable<Message>
<head>
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
</head>
<div style="margin-top:-20px;"></div>
<div class="col-md-9" style="background-color:rgb(245,245,245);border-radius:8px;">
    <div class="container-fluid" id="accordion">
        <div class="panel-group" id="accordion">
            <h4><span class="label label-default">留言板</span></h4>
             @foreach(var x in Model)
             {
                 @if (x.State == State.通过)
                 {
                    <table class="table" style="background-color:rgb(245,245,245);">
                        <tr>
                            <th>昵称：</th>
                            <td><input type="text" value="@x.NickName" disabled="disabled" /></td>
                        </tr>
                        <tr>
                            <th>留言：</th>
                            <td><textarea style="width:100%;height:80px;resize:none;" disabled="disabled">@x.Content</textarea></td>
                        </tr>
                    </table>
                 }
             }
@Html.MakePager("pager-item", "active", "pager")
            <div style="height:40px;"></div>
            <div>
                <form asp-action="CreateMessage" asp-controller="Home" method="post">
                    <table class="table" style="background-color:#888;border-radius:8px;">
                            <tr>
                                <th style="color:#333;">昵称：</th>
                                <td><input type="text" name="NickName" id="NickName" placeholder="昵称不能为空" style="border-radius:8px;"/></td>
                            </tr>
                            <tr>
                                <th style="color:#333;">留言：</th>
                                <td><textarea id="ContentId" placeholder="请输入内容,提交后待管理员审核后即可在页面中显示" name="Content" style="width:100%;height:80px;resize:none;border-radius:8px;"></textarea></td>
                            </tr>
                    </table>
                    <p><input type="submit" class="btn" id="btnCreateMessage" value="留言"/></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var oName = document.getElementById("NickName");
    var oContent = document.getElementById("ContentId");
    var oBtn = document.getElementById("btnCreateMessage");

    oBtn.onclick = function () {
        if (oName.value == null || oContent.value == null) {
            alert("内容或昵称为空，请填写。");

        }

    };
</script>


