@{
    Layout = "~/Views/Shared/Display.cshtml";
}
@model Article
<div style="margin-top:-20px;"></div>
<div class="col-md-9">  
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>@Model.Title</h4>
            </div>
            <div class="panel-body">
                <p>@Model.Content</p>
            </div>
        </div>
   
</div>